* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  box-shadow: 0 2px 18px 0 rgba(129, 162, 182, 0.2);
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container .content {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-left: 50px;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-right: 50px;
}
